<h1>here are the movie recommendations</h1>
<p><%= @mood_id %></p>
<p><%= @mood.mood %></p>
<p><% @movies_list.each do |m| %></p>
		<p><%= m.title %></p>	
		<p><%= m.description %></p>	
		<p><%= m.image %></p>	
<% end %>
 


