<body class="movie_show">
<div class="text-box">
<div class="display-movie-info">
  <div class="movie-id">
    <p hidden><%= @movie.id %></p>
  </div>
  <center><div class="movie-image">
    <img src="<%= @movie.image  %>" width="280" height="400">
  </div>
  <div class="movie-title">
    <h2 class="title"><%= @movie.title  %></h2>
  </div>
  <div class="movie-date-and-duration" align="center">
    <p>(<%= @movie.date  %> - <%= @movie.duration  %>)</p>
  </div>
  <div class="movie-description">
    <a style="font-size:20px"><%= @movie.description  %></a> 
  </div>
</br>
  <div class="movie-link">
    <form action="<%= @movie.url %>" target=”_blank”>
      <input type="submit" value="Where to watch it" />
    </form>  </center>
  </div>
</div>
</div>
</body>