<body class="movie_show">
<div class="text-box">
<div class="display-movie-info">
  <div class="movie-id">
<p hidden><%= @movie.id %></p>
  </div>
  <div class="movie-title" align="center">
<h2 class="title" ><%= @movie.title  %></h2>
  </div>
  <div class="movie-date-and-duration" align="center">
<p>(<%= @movie.date  %> - <%= @movie.duration  %>)</p>
  </div>
  <div class="movie-description" align="center">
<h4><%= @movie.description  %></h4> 
  </div>
  <div class="movie-image" align="center">
<h2><img src="<%= @movie.image  %>" width="300" height="400"></h2> 
  </div>
  <div class="movie-link" align="center">
  <h4><a href="<%= @movie.url %>" target="_blank" >Where to watch it</a></h4>
  </div>
</div>
</div>
</body>